// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Toast
@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

// Remix icons
@import '~remixicon/fonts/remixicon.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
    background: #e6e6e6;
    min-height: 100vh;
}

#app,
.main-row {
    min-height: 100vh;
}

.card-columns {
    -moz-column-gap: 2.25rem;
    column-gap: 2.25rem;
    
    .card {
        box-shadow: 2px 0px 9px rgba(0,0,0,0.1);
        border: 13px solid white;
        margin-bottom: 30px;
    }

    @include media-breakpoint-up(xs) {
        column-count: 1;
        -moz-column-count: 1;
    }

    @include media-breakpoint-up(sm) {
        column-count: 2;
        -moz-column-count: 2;
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
        -moz-column-count: 4;
    }

    @media only screen and (min-width:1600px) { 
        column-count: 4;
        -moz-column-count: 5;
    }

    @media only screen and (min-width:2220px) { 
        column-count: 6;
        -moz-column-count: 7;
    }
}

.ti-input,
.vdp-datepicker input {
    @extend .form-control;
}

.vdp-datepicker input {
    background: white !important;
}

.title {
    margin: 50px 0;
}

.icon-btn {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    color: white;
    border-radius: 50%;
    transition: transform 250ms, box-shadow 250ms;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 24px;

    &:hover {
        transform: scale(1.2);
        box-shadow: 0 10px 10px rgba($black, 0.1);
    }
}


// NAV

.sidebar-sticky {
    .nav {
        .nav-item {
            position: relative;
            
            .icon {
                display: inline-block;
                font-size: 19px;
                position: absolute;
                left: 8px;
                top: 4px;
                color: $dark;
            }

            .label {
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                padding-left: 20px;
            }
        }
    }
}


// HEADING ICONS
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
    position: relative;
    top:3px;
}


// INLINE VUE STYLING - TODO: Organise properly!
.pdf-snapshot {
    width: 200px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #8787e8;
}

.card {
    transition: opacity 150ms;
}

.card.loading {
    opacity: .3;
}

.pdf-preview {
    background: whitesmoke;
    position: relative;
    border-bottom: 1px solid lightgrey;

    &.fixed-height {
        height: 200px;
        overflow: hidden;
    }
}

.img-preview {
    background-size: cover;
    height: 250px;
}

.pdf-preview.loading {
    min-height: 200px;
}

.lds-ellipsis {
    display: inline-block;
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    height: 80px;
    text-align: center;
    margin-top: -40px;
    margin-left: -40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(89, 89, 172);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.cursor-pointer {
  cursor: pointer !important;
}